<div class="container p-5">
  <div class="row p-3">
    <div class="mx-auto">

      <div class="d-flex align-items-center justify-content-center p-3">
        <h2 style="font-family: Comic Sans MS">About</h2>
      </div>

        <p class= "text-center", style="font-family: Hiragino Maru Gothic Pro;">
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションを用意しております。<br>
          全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>

      <div class="d-flex align-items-center justify-content-center">
      <%= image_tag 'IMG_1293.PNG', alt: 'about用画像', size: '200x200' %>
      </div>

    </div>
  </div>
</div>