<table>
<tr>
   <td>
     <h4>ショッピングカート</h4>
   </td>
   <td>
      <p>カートを空にする(destroy_all)</p>
   </td>
</tr>
</table>

<table border="1" style="border-collapse: collapse">
<thead>
<tr>
   <td>
     <p>商品名</p>
   </td>
   <td>
     <p>単価(税込)</p>
   </td>
   <td>
     <p>数量</p>
   </td>
   <td>
     <p>小計</p>
   </td>
   <td></td>
</tr>
</thead>

<tbody>
  <tr>
    <td>
     <p>商品名</p>
   </td>
   <td>
     <p>単価(税込)</p>
   </td>
   <td>
     <p>数量</p>
   </td>
   <td>
     <p>小計</p>
   </td>
   <td>削除する</td>
</tr>
</tbody>
</table>