<div class="container">
  <h2 style="margin: 100px 300px;">ご注文ありがとうございました！</h2>

<div class="d-flex align-items-center justify-content-center" style="margin: 70px 300px;">
  <%= image_tag 'IMG_1402.PNG', alt: 'about用画像', size: '200x200' %>
</div>

</div>
