<h3>商品一覧</3><p>（全●件）</p>

<% @items.each do |item| %>

<!--イメージタグを入れる-->
<%#= image_tag item.image %>
<%= image_tag item.item_image, size: '50x50' %>

<!--商品名-->
<%= item.name %>

<!--金額 ※税抜になっているので税込みの計算式を入れる？-->
<p>¥<%= item.price %></p>

<% end %>